*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

button:hover{
    background-color: #218538;
}

button {
    font-weight: bold;
    margin: 10px 0 0 0;
    background-color: #30c152;
    width: 140px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    z-index: 3;
    transition: background-color 0.3s ease;
}

#home{
    height: 100vh;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home .user{
    font-size: 25px;
    padding: 22% 0 0 17%;
}

#home .user h3{
    color: white;
}

#home .user h1{
    color: rgb(0, 159, 212);
}

@media (max-width: 632px){
    #home .user {
            font-size: 20px;
        }
}

.feedback {
    height: 100vh;
    padding: 20px 0;
    font-family: Lato, sans-serif;
}

